*.log
.DS_Store
node_modules/
.nyc_output/
coverage/
debug/
src/
assets/
test/
examples/
example/
tslint.json
tsconfig.json
jsconfig.json
.eslintrc.yml
server.yml
.dawn/
*.js.map
docs/
webpack.config.js
design/
markdowns/
.coveralls.yml
.travis.yml
doczilla.yml
CODE_OF_CONDUCT.md
CONTRIBUTING.md
ISSUE_TEMPLATE.md